################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Nop.Plugin.Payments.CashOnDelivery/obj/Debug
